<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/common/header::header-fragment"></header>

<body class="hold-transition sidebar-mini">
<link th:href="@{/admin/plugins/editormd/css/editormd.css}" rel="stylesheet"/>
<link th:href="@{/admin/plugins/tagsinput/jquery.tagsinput.css}" rel="stylesheet"/>
<link th:href="@{/admin/plugins/select2/select2.css}" rel="stylesheet"/>

<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/common/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/common/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">

                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>

                    <!-- 输出框 -->
                    <div class="card-body">
                        <!-- 几个基础的输入框，名称、分类等输入框 -->
                        <form id="ticketForm" onsubmit="return false;">
                            <div class="form-group" style="display:flex;  margin-left:420px">
                               <input type="hidden" id="rentTicketId" name="rentTicketId" >
                                <input type="text" class="form-control col-sm-5"
                                       style="margin-left:30px;"
                                       id="rentTicketFrom" name="rentTicket_from"
                                       placeholder="*请输入车票起点(必填)"
                                       required="true">
                                &nbsp;&nbsp;
                            </div>

                            <div class="form-group" style="display:flex; margin-left:420px">
                                <!--                                <input type="hidden" id="blogId" name="blogId" th:value="${blog!=null and blog.blogId!=null }?${blog.blogId}: 0">-->
                                <input type="text" class="form-control col-sm-5"
                                       style="margin-left:30px; "
                                       id="rentTicketTo" name="rentTicket_to"
                                       placeholder="*请输入车票终点(必填)"
                                       required="true">
                            </div>

                            <div class="form-group" style="display:flex; margin-left:420px">
                                <!--                                <input type="hidden" id="blogId" name="blogId" th:value="${blog!=null and blog.blogId!=null }?${blog.blogId}: 0">-->
                                <input type="datetime-local" class="form-control col-sm-5"
                                       style="margin-left:30px; "
                                       id="startTime" name="startTime"
                                       placeholder="*请输入出发时间(必填)"
                                       required="true">
                            </div>
                            
                            <div class="form-group" style="display:flex; margin-left:420px">
                                <!--                                <input type="hidden" id="blogId" name="blogId" th:value="${blog!=null and blog.blogId!=null }?${blog.blogId}: 0">-->
                                <input type="datetime-local" class="form-control col-sm-5"
                                       style="margin-left:30px; "
                                       id="endTime" name="endTime"
                                       placeholder="*请输入到达时间(必填)"
                                       required="true">
                            </div>

                            <div class="form-group" style="display:flex; margin-left:420px">
                                <!--                                <input type="hidden" id="blogId" name="blogId" th:value="${blog!=null and blog.blogId!=null }?${blog.blogId}: 0">-->
                                <input type="text" class="form-control col-sm-5"
                                       style="margin-left: 30px; "
                                       id="rentTicketCount" name="rentTicketCount"
                                       placeholder="*请输入车票总数(必填)"
                                       required="true">
                            </div>

                            <div class="form-group">
                                <!-- 按钮 -->
                                &nbsp;<button class="btn btn-info float-right" style="margin-left: 5px;"
                                              id="addTicket">新增车票
                            </button>&nbsp;
                                &nbsp;<button class="btn btn-secondary float-right" style="margin-left: 5px;"
                                              id="cancelButton">返回订票列表
                            </button>&nbsp;
                            </div>
                        </form>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </div>
        <div class="content">
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="addRentTicketModal" tabindex="-1" role="dialog" aria-labelledby="addRentTicketModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="addRentTicketModalLabel">车票新增</h6>
                        </div>
                        <div class="modal-body">
                            <form id="rentTicketForm">
                                <div class="form-group">
                                    <div class="alert alert-danger" id="edit-error-msg" style="display: none;">
                                        错误信息展示栏。
                                    </div>
                                </div>
                            </form>    
                             <form onsubmit="return false;">
                                <div class="form-group">
                                    <div class="col-sm-8 ">
                                        <div style="text-align:center; font-size: large; margin-top: 20px;margin-left: 120px">确定要提交吗？</div>
                                    </div>
                                </div>
                                <br>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="saveButton">确认</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <!-- /.content-wrapper -->


    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/common/footer::footer-fragment"></div>
</div>


<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Bootstrap 日期 -->
<link th:href="@{/admin/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.min.js}"></script>

<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- editor.md -->
<script th:src="@{/admin/plugins/editormd/editormd.min.js}"></script>
<!-- tagsinput -->
<script th:src="@{/admin/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
<!-- Select2 -->
<script th:src="@{/admin/plugins/select2/select2.full.min.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- ajaxupload -->
<script th:src="@{/admin/plugins/ajaxupload/ajaxupload.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/addRentTicket.js}"></script>
</body>
</html>
